{% extends 'base.html' %}
{% load static  %}
{% block content %}
<head>
  <title>About</title>
</head>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
       
        </ol>
        <h2>about us</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up">
        <p>
          about us
        </p>
      </div>
    </section>  

  </main><!-- End #main -->


{% endblock %}