{% extends 'base.html' %}
{% load static  %}
{% block content %}
<head>
  <title>Donate</title>
</head>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
        
        </ol>
        <h2>Donation page</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    

    <section class="inner-page">
      <div class="container" data-aos="fade-up">
        <p>
          our mission is To provide world class workable solutions to agribusinesses in Sub-Saharan Africa 
          through effcective consulting, training and farm management services
          
        </p>
        <div class="paystack">
          <iframe  src="https://paystack.com/pay/f1mpqaz7ou"></iframe>
        </div>
      </div>
    </section> 
    
  </main>

  </main><!-- End #main -->


{% endblock %}